<table>
  <thead>
  <tr class="material-table-paginator" #paginator>
    <th colspan="9">
      <div class="paginator-buttons">
        <span class="paginator-back" (click)="loadPaginated(-1, null)"></span>
        <span class="paginator-next" (click)="loadPaginated(1, null)"></span>
      </div>
      <mat-form-field>
        <mat-label></mat-label>
        <input
          type="number"
          [value]="pageIndex"
          matInput
          (blur)="loadPaginated(0, $event)"
        >
      </mat-form-field>
      of
      <span>{{countOfPages}}</span>
    </th>
    <th data-controls="true"></th>
  </tr>
  <tr #headerBlock>
    <td (click)="loadSorted('topic',headerBlock,$event)" data-sort="">
      Topic
    </td>
    <td (click)="loadSorted('main',headerBlock,$event)" data-sort="">
      Main(+/-)
    </td>
    <td *ngIf="canDeleteLesson" class="controls-col">
      CONTROLS
    </td>
  </tr>
  <tr class="filter-row" #filterBlock>
    <td>
      <mat-form-field>
        <mat-label></mat-label>
        <input
          type="text"
          name="topic"
          data-key="topic"
          ngModel
          matInput
          (keyup)="loadFiltered(filterBlock)"
        >
      </mat-form-field>
    </td>
    <td>
      <mat-form-field>
        <mat-label></mat-label>
        <input
          type="text"
          name="main"
          data-key="main"
          ngModel
          matInput
          (keyup)="loadFiltered(filterBlock)"
        >
      </mat-form-field>
    </td>
    <td *ngIf="canDeleteLesson" class="controls-col"></td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let lesson of lessons" (click)="open(lesson.id, 'groups/'+lesson.groupId ,$event)" class="data-row">
    <td>
      {{lesson.topic}}
    </td>
    <td>
      <span *ngIf="lesson.main">MAIN</span>
      <span *ngIf="!lesson.main">NOT MAIN</span>
    </td>
    <td *ngIf="canDeleteLesson" class="controls-col" data-controls="true">
      <div class="remove-button" (click)="remove(lesson.id)" data-controls="true"></div>
    </td>
  </tr>
  </tbody>
</table>
