.main-wrapper {
  width: 100%;
  display: flex;
  margin-top: 15px;
  flex-wrap: wrap;
}

mat-list {
  padding-top: 0;
}

.left-menu, .client-tasks, .client-comments, .client-applications {
  background: white;
  padding: 15px 25px;
}

.left-menu {
  width: 15%;
  margin-right: 15px;
  margin-left: 15px;
  border-left: 3px solid green;
  border-top: 3px solid green;
}

.client-tasks, .client-comments, .client-applications{
  width: 35%;
  margin-right: 15px;
  border-left: 3px solid #cea51a;
  border-top: 3px solid #cea51a;
}

.client-applications{
  width: 100%;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 15px;
  border-left: 3px solid #f44336;
  border-top: 3px solid #f44336;
}

form button {
  width: 100%;
}

mat-expansion-panel {
  background: #f9f9f9;
}

form {
  display: flex;
  flex-direction: column;
}

form input{
  font-size: 18px;
}
