<div class="main-wrapper">
  <div class="left-menu">
    <h3>ОНОВИТИ</h3>
    <form #form="ngForm" (ngSubmit)="updateClient()">
      <mat-form-field>
        <mat-label>Ім'я</mat-label>
        <input
          type="text"
          name="name"
          [(ngModel)]="client.name"
          matInput
          required
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Прізвище</mat-label>
        <input
          type="text"
          name="surname"
          [(ngModel)]="client.surname"
          matInput
          required
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Адреса</mat-label>
        <input
          name="address"
          appGooglePlaces
          ngModel
          matInput
          [value]="client?.address?.address"
          (onSelect)="setAddress($event)"
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Телефон</mat-label>
        <input
          type="tel"
          name="phone"
          [(ngModel)]="client.phone"
          matInput
          minlength="6"
          maxlength="15"
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Емейл</mat-label>
        <input
          type="email"
          name="email"
          [(ngModel)]="client.email"
          matInput
          email
        >
      </mat-form-field>
      <p class="passport-link" (click)="editFiles(client)">
        Паспорти: {{client.files ? client.files.length : 0}}
      </p>
      <button mat-flat-button *ngIf="canUpdateClient" [disabled]="!form.valid">Оновити</button>
    </form>
  </div>
  <div class="client-socials" *ngIf="canSeeSocials">
    <h3>СОЦІАЛКИ</h3>
    <mat-expansion-panel #socialsFormpanel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          СТВОРИТИ
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form #socialForm="ngForm" (ngSubmit)="createSocial(socialForm)">
        <mat-form-field>
          <mat-label>УРЛ</mat-label>
          <input
            type="text"
            name="url"
            ngModel
            matInput
            required
          >
        </mat-form-field>
        <button mat-flat-button [disabled]="!socialForm.valid">Створити</button>
      </form>
    </mat-expansion-panel>
    <app-social-table *ngIf="client.id"
                      #socialTable
                      [byClientId]="client.id">

    </app-social-table>
  </div>
  <div class="client-tasks" *ngIf="canSeeTasks">
    <h3>ЗАВДАННЯ</h3>
    <mat-expansion-panel #formpanel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          СТВОРИТИ
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form #taskForm="ngForm" (ngSubmit)="createTask(taskForm)">
        <mat-form-field>
          <mat-label>Повідомлення</mat-label>
          <input
            type="text"
            name="message"
            ngModel
            matInput
            required
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Дата</mat-label>
          <input
            type="text"
            matInput
            ngModel
            name="date"
            [matDatepicker]="taskPickerDate"
            readonly
            placeholder="Виберіть дату"
            (click)="taskPickerDate.open()"
          >
          <mat-datepicker-toggle matSuffix [for]="taskPickerDate"></mat-datepicker-toggle>
          <mat-datepicker #taskPickerDate disabled="false"></mat-datepicker>
        </mat-form-field>
        <button mat-flat-button [disabled]="!taskForm.valid">Створити</button>
      </form>
    </mat-expansion-panel>
    <app-tasks-table
      *ngIf="client.id"
      [byClientId]="client.id"
      #tasksTable
    ></app-tasks-table>
  </div>
  <div class="audio-calls" *ngIf="canSeeAudioCalls">
    <h3>АУДІО ДЗВІНКИ</h3>
    <mat-expansion-panel #audioCallsFormpanel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          СТВОРИТИ
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form #audioCallForm="ngForm" (ngSubmit)="createAudioCall(audioCallForm)">
        <mat-form-field>
          <mat-label>Коментар</mat-label>
          <input
            type="text"
            name="comment"
            ngModel
            matInput
            required
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Дата</mat-label>
          <input
            type="text"
            matInput
            ngModel
            name="date"
            [matDatepicker]="audioCallDatepicker"
            readonly
            placeholder="Виберіть дату"
            (click)="audioCallDatepicker.open()"
          >
          <mat-datepicker-toggle matSuffix [for]="audioCallDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #audioCallDatepicker disabled="false"></mat-datepicker>
        </mat-form-field>
        <label>Файл</label>
        <input
          type="file"
          name="files"
          multiple
          ngModel
          (change)="audioCallFileChange($event)"
        >
        <button mat-flat-button [disabled]="!audioCallForm.valid">Створити</button>
      </form>
    </mat-expansion-panel>
    <app-audio-calls-table
      *ngIf="client.id"
      #audioCallsTable
      [byClientId]="client.id"
    ></app-audio-calls-table>
  </div>
  <div class="client-comments" *ngIf="canSeeComments">
    <h3>КОМЕНТАРІ</h3>
    <mat-expansion-panel #formpanelComments>
      <mat-expansion-panel-header>
        <mat-panel-title>
          СТВОРИТИ
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form #commentForm="ngForm" (ngSubmit)="createComment(commentForm)">
        <mat-form-field>
          <mat-label>Текст</mat-label>
          <input
            type="text"
            name="text"
            ngModel
            matInput
            required
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Дата</mat-label>
          <input
            type="text"
            matInput
            ngModel
            name="date"
            [matDatepicker]="commentPickerDate"
            placeholder="Виберіть дату"
            readonly
            (click)="commentPickerDate.open()"
          >
          <mat-datepicker-toggle matSuffix [for]="commentPickerDate"></mat-datepicker-toggle>
          <mat-datepicker #commentPickerDate disabled="false"></mat-datepicker>
        </mat-form-field>
        <button mat-flat-button [disabled]="!commentForm.valid">Створити</button>
      </form>
    </mat-expansion-panel>
    <app-comments-table
      *ngIf="client.id"
      #commentTable
      [byClientId]="client.id"
    ></app-comments-table>
  </div>
  <div class="client-applications" *ngIf="canSeeApplications">
    <h3>ЗАЯВКИ</h3>
    <mat-expansion-panel #formpanelApplications *ngIf="canCreateApplication">
      <mat-expansion-panel-header>
        <mat-panel-title>
          СТВОРИТИ
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form #formApplication="ngForm" (ngSubmit)="createApplication(formApplication)">
        <mat-form-field>
          <mat-label>Дата</mat-label>
          <input
            type="text"
            matInput
            ngModel
            name="date"
            [matDatepicker]="applicationPickerDate"
            placeholder="Виберіть дату"
            readonly
            (click)="applicationPickerDate.open()"
          >
          <mat-datepicker-toggle matSuffix [for]="applicationPickerDate"></mat-datepicker-toggle>
          <mat-datepicker #applicationPickerDate disabled="false"></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Місто</mat-label>
          <mat-select ngModel name="cityId" required>
            <mat-option *ngFor="let city of cities" [value]="city.id">
              {{city.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Курс</mat-label>
          <mat-select ngModel name="courseId" required>
            <mat-option *ngFor="let course of courses" [value]="course.id">
              {{course.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Джерело</mat-label>
          <mat-select ngModel name="sources" multiple>
            <mat-option *ngFor="let source of sources" [value]="source.id">
              {{source.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Ціна</mat-label>
          <input
            type="number"
            name="fullPrice"
            ngModel
            matInput
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Знижка</mat-label>
          <input
            type="text"
            name="discount"
            ngModel
            matInput
          >
        </mat-form-field>
        <mat-checkbox ngModel name="wantPractice">Хоче практику</mat-checkbox>
        <button mat-flat-button [disabled]="!formApplication.valid">Створити</button>
      </form>
    </mat-expansion-panel>
    <app-applications-table
      *ngIf="client.id"
      [byClientId]="client.id"
      [canDeleteApplicationInput]="canDeleteApplication"
      #applicationTable
    ></app-applications-table>
  </div>
</div>
