<div class="main-wrapper" *ngIf="client && client.applications">
  <div class="lessons-group" *ngFor="let app of client.applications">
<div class="user-and-course">
    <h3 class="about">{{app.course.name}}</h3>
    <h3 class="about">{{client.name}} {{client.surname}}</h3>
</div>
    <div class="lessons-wrapper">
      <div class="lesson-tile" *ngFor="let lesson of app.lessons">
        {{lesson.topic}}
      </div>
    </div>
  </div>
</div>
<div class="comments-wrapper" *ngIf="client && client.comments">
  <h3>Коментарі</h3>
  <div class="comment" *ngFor="let comment of client.comments">
    {{comment.text}}
  </div>
</div>
