<div class="main-wrapper">
  <div class="left-menu">
    <h3>UPDATE</h3>
    <form #form="ngForm" (ngSubmit)="updateApplication()">
      <mat-form-field>
        <mat-label>Client</mat-label>
        <input
          type="text"
          name="clientId"
          [value]="application.client?.name + ' ' + application.client?.surname"
          matInput
          disabled
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>City</mat-label>
        <input
          type="text"
          name="cityId"
          [value]="application?.city?.name"
          matInput
          disabled
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Course</mat-label>
        <input
          type="text"
          name="courseId"
          [value]="application.course?.name"
          matInput
          disabled
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Group</mat-label>
        <input
          type="text"
          name="groupId"
          [value]="application.group?.name"
          matInput
          disabled
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Discount</mat-label>
        <input
          type="number"
          name="discount"
          [value]="application.discount"
          matInput
          disabled
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Full price</mat-label>
        <input
          type="number"
          name="fullPrice"
          [value]="application.fullPrice"
          matInput
          disabled
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>With discount</mat-label>
        <input
          type="number"
          name="resultPrice"
          [value]="application.resultPrice"
          matInput
          disabled
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Left to pay</mat-label>
        <input
          type="number"
          name="leftToPay"
          [(ngModel)]="application.leftToPay"
          matInput
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Certificate</mat-label>
        <input
          type="text"
          name="certificate"
          [(ngModel)]="application.certificate"
          matInput
        >
      </mat-form-field>
      <mat-checkbox [(ngModel)]="application.hasPractice" name="hasPractice" [checked]="application.hasPractice"
                    disabled>
        Has practice
      </mat-checkbox>
      <mat-checkbox [(ngModel)]="application.wantPractice" name="wantPractice" [checked]="application.wantPractice">
        Want practice
      </mat-checkbox>
      <mat-form-field>
        <mat-label>Source</mat-label>
        <mat-select [(ngModel)]="applicationSources" name="sources" multiple>
          <mat-option *ngFor="let source of sources" [value]="source.id">
            {{source.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Date</mat-label>
        <input
          type="text"
          matInput
          [(ngModel)]="application.date"
          name="date"
          [matDatepicker]="pickerStartDate"
          placeholder="Choose a date"
          readonly
          (click)="pickerStartDate.open()"
        >
        <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
        <mat-datepicker #pickerStartDate disabled="false"></mat-datepicker>
      </mat-form-field>
      <p class="contracts-link" (click)="editFiles(application)">
        {{ (application.contract && application.contract.files) ? application.contract.files.length : 0}} contract files
      </p>
      <button mat-flat-button [disabled]="!form.valid">Update</button>
    </form>
  </div>

  <div class="application-payment-block">
    <h3>PAYMENTS</h3>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          CREATE PAYMENT
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form #formPayment="ngForm" (ngSubmit)="createPayment(formPayment)">
        <mat-form-field>
          <mat-label>Number</mat-label>
          <input
            type="text"
            name="number"
            ngModel
            matInput
            required
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Expected date</mat-label>
          <input
            type="text"
            matInput
            ngModel
            required
            name="expectedDate"
            [matDatepicker]="paymentPickerStartDate"
            placeholder="Choose a date"
            readonly
            (click)="paymentPickerStartDate.open()"
          >
          <mat-datepicker-toggle matSuffix [for]="paymentPickerStartDate"></mat-datepicker-toggle>
          <mat-datepicker #paymentPickerStartDate disabled="false"></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Expected Amount</mat-label>
          <input
            type="number"
            name="expectedAmount"
            ngModel
            required
            matInput
            (input)="validateAmount($event)"
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Payment date</mat-label>
          <input
            type="text"
            matInput
            ngModel
            name="paymentDate"
            [matDatepicker]="paymentDate"
            placeholder="Choose a date"
            readonly
            (click)="paymentDate.open()"
          >
          <mat-datepicker-toggle matSuffix [for]="paymentDate"></mat-datepicker-toggle>
          <mat-datepicker #paymentDate disabled="false"></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Amount</mat-label>
          <input
            type="number"
            name="amount"
            ngModel
            matInput
            (input)="validateAmount($event)"
          >
        </mat-form-field>
        <label>Check</label>
        <input
          type="file"
          name="file"
          multiple
          ngModel
          (change)="paymentChange($event)"
        >
        <button mat-flat-button [disabled]="!formPayment.valid">Create</button>
      </form>
    </mat-expansion-panel>
    <app-payments-table
      *ngIf="application.id"
      #paymentTable
      [byApplicationId]="application.id"
      (onPaymentRemove)="loadApplication(application.id)"
      (onPaymentUpdate)="loadApplication(application.id)"
    ></app-payments-table>
  </div>
  <div class="application-groups-block">
    <h3>GROUPS</h3>
    <mat-selection-list #groupsList>
      <ng-container *ngFor="let group of groups">
        <mat-list-option [value]="group.id" [selected]="group.id === application.groupId">
          <mat-icon mat-list-icon (click)="openGroup(group.id, $event)">meeting_room</mat-icon>
          <p>{{group.name}}</p>
        </mat-list-option>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-selection-list>
  </div>
</div>
