<div class="main-wrapper">
  <div class="left-menu">
    <form #form="ngForm" (ngSubmit)="updateApplication()">
      <mat-form-field>
        <mat-label>Client</mat-label>
        <input
          type="text"
          name="clientId"
          [value]="application.client?.name + ' ' + application.client?.surname"
          matInput
          disabled
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Course</mat-label>
        <input
          type="text"
          name="courseId"
          [value]="application.course?.name"
          matInput
          disabled
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Group</mat-label>
        <input
          type="text"
          name="groupId"
          [value]="application.group?.name"
          matInput
          disabled
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Discount</mat-label>
        <input
          type="number"
          name="discount"
          [value]="application.discount"
          matInput
          disabled
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Full price</mat-label>
        <input
          type="number"
          name="fullPrice"
          [value]="application.fullPrice"
          matInput
          disabled
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>With discount</mat-label>
        <input
          type="number"
          name="resultPrice"
          [value]="application.resultPrice"
          matInput
          disabled
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Left to pay</mat-label>
        <input
          type="number"
          name="leftToPay"
          [value]="application.leftToPay"
          matInput
          disabled
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Source</mat-label>
        <mat-select [(ngModel)]="application.sourceId" name="sourceId">
          <mat-option *ngFor="let source of sources" [value]="source.id">
            {{source.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Date</mat-label>
        <input
          type="date"
          name="date"
          [(ngModel)]="application.date"
          matInput
          required
        >
      </mat-form-field>
      <button mat-flat-button [disabled]="!form.valid">Update</button>
    </form>
  </div>
  <div class="right-menu">
    <!--todo graphics-->
    JOURNAL STATISTIC
  </div>

  <div class="application-payment-block">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          CREATE PAYMENT
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form #formPayment="ngForm" (ngSubmit)="createPayment(formPayment)">
        <mat-form-field>
          <mat-label>Number</mat-label>
          <input
            type="text"
            name="number"
            ngModel
            matInput
            required
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Date</mat-label>
          <input
            type="date"
            name="date"
            ngModel
            matInput
            required
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Amount</mat-label>
          <input
            type="number"
            name="amount"
            ngModel
            matInput
            required
            (input)="validateAmount($event)"
          >
        </mat-form-field>
        <button mat-flat-button [disabled]="!formPayment.valid">Create</button>
      </form>
    </mat-expansion-panel>
    <app-payments-table
      *ngIf="application.id"
      #paymentTable
      [byApplicationId]="application.id"
      (onPaymentRemove)="loadApplication(application.id)"
    ></app-payments-table>
  </div>
  <div class="application-groups-block">
    <mat-selection-list #groupsList>
      <ng-container *ngFor="let group of groups">
        <mat-list-option [value]="group.id" [selected]="group.id === application.groupId">
          <p>{{group.name}}</p>
        </mat-list-option>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-selection-list>
  </div>


</div>
