<mat-expansion-panel #formpanel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      СТВОРИТИ
    </mat-panel-title>
  </mat-expansion-panel-header>
  <form #form="ngForm" (ngSubmit)="createTask(form)">
    <mat-form-field (click)="selectClient($event)">
      <mat-label>Клієнт</mat-label>
      <input
        type="text"
        name="clientId"
        [(ngModel)]="selectedClient.name + ' ' + selectedClient.surname"
        matInput
        required
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Повідомлення</mat-label>
      <input
        type="text"
        name="message"
        [(ngModel)]="taskForm.message"
        matInput
        required
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Дата</mat-label>
      <input
        type="text"
        matInput
        [(ngModel)]="taskForm.date"
        name="date"
        [matDatepicker]="pickerStartDate"
        placeholder="Виберіть дату"
        readonly
        (click)="pickerStartDate.open()"
      >
      <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
      <mat-datepicker #pickerStartDate disabled="false"></mat-datepicker>
    </mat-form-field>
    <button mat-flat-button [disabled]="!form.valid">Створити</button>
  </form>
</mat-expansion-panel>

<app-tasks-table #tasksTable></app-tasks-table>
