.notification-wrapper{
  width: 100%;
  min-height: 65px;
  display: flex;
  cursor: pointer;
  flex-wrap: nowrap;
}

.notification-type{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  color: white;
  min-height: 65px;
  background: green;
}


.notification-wrapper-info{
  background: #3fb54e;
}

.notification-wrapper-error{
  background: #cd2323;
}

.notification-type-info{
  background: #40a04f;
}

.notification-type-error{
  background: #b22424;
}

.notification-info{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 15px 15px 5px 15px;
}

.notification-info-text{
  width: 100%;
}

.notification-info p {
  font-size: 13px;
  color: white;
}

.notification-info-date{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  font-size: 10px;
  color: white;
}
