<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      СТВОРИТИ
    </mat-panel-title>
  </mat-expansion-panel-header>
  <form (ngSubmit)="createManager(form)" #form="ngForm">
    <mat-form-field>
      <mat-label>Ім'я</mat-label>
      <input
        type="text"
        name="name"
        ngModel
        matInput
        required
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Прізвище</mat-label>
      <input
        type="text"
        name="surname"
        ngModel
        matInput
        required
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Логін</mat-label>
      <input
        type="text"
        name="login"
        ngModel
        matInput
        required
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Пароль</mat-label>
      <input
        type="text"
        name="password"
        ngModel
        matInput
        required
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Роль</mat-label>
      <mat-select ngModel name="role" required>
        <mat-option value="BOSS_ROLE">
          БОСС
        </mat-option>
        <mat-option value="MANAGER_ROLE">
          МЕНЕДЖЕР
        </mat-option>
        <mat-option value="TEACHER_ROLE">
          ВИКЛАДАЧ
        </mat-option>
        <mat-option value="REVIEWER_ROLE">
          ХР
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Міста</mat-label>
      <mat-select ngModel name="cities" required multiple>
        <mat-option *ngFor="let city of cities" [value]="city.id">
          {{city.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-flat-button [disabled]="!form.valid">Створити</button>
  </form>
</mat-expansion-panel>

<app-managers-table #managersTable></app-managers-table>
