.logo-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.logo{
  width: 400px;
  height: 400px;
  border-radius: 50%;
  color: #36416b;
  background: url("../../../assets/images/logo.png") no-repeat center center;
  background-size: contain;
  animation: rotate 3s linear infinite;
}


@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
