<table>
  <thead>
  <tr class="material-table-paginator" #paginator>
    <th colspan="7">
      <div class="paginator-buttons">
        <span class="paginator-back" (click)="loadPaginated(-1, null)"></span>
        <span class="paginator-next" (click)="loadPaginated(1, null)"></span>
      </div>
      <mat-form-field>
        <mat-label></mat-label>
        <input
          type="number"
          [value]="pageIndex"
          matInput
          (blur)="loadPaginated(0, $event)"
        >
      </mat-form-field>
      з
      <span>{{countOfPages}}</span>
    </th>
    <th data-controls="true"></th>
    <th colspan="4">
      <span>Ліміт заявок на сторінці:</span>
      <mat-form-field>
        <mat-label></mat-label>
        <input
          type="number"
          [(ngModel)]="pageSize"
          matInput
          (input)="loadApplications()"
        >
      </mat-form-field>
    </th>
  </tr>
  <tr #headerBlock>
    <td
      *ngIf="!(byClientId >= 0)"
      (click)="loadSorted('client.name',headerBlock,$event)"
      data-sort=""
    >
      Клієнт
    </td>
    <td class="small-td" (click)="loadSorted('city.name',headerBlock,$event)" data-sort="">
      Місто
    </td>
    <td (click)="loadSorted('course.name',headerBlock,$event)" data-sort="">
      Курс
    </td>
    <td
      *ngIf="!(byGroupId >= 0)"
      (click)="loadSorted('group.name',headerBlock,$event)" data-sort="">
      Група
    </td>
    <td class="small-td" (click)="loadSorted('date',headerBlock,$event)" data-sort="">
      Дата
    </td>
    <td class="small-td" (click)="loadSorted('fullPrice',headerBlock,$event)" data-sort="">
      Ціна
    </td>
    <td class="small-td" (click)="loadSorted('leftToPay',headerBlock,$event)" data-sort="">
      До оплати
    </td>
    <td class="small-td" (click)="loadSorted('hasPractice',headerBlock,$event)" data-sort="">
      Має практику(+/-)
    </td>
    <td (click)="loadSorted('certificate',headerBlock,$event)" data-sort="">
      Сертифікат
    </td>
    <td *ngIf="canDeleteApplication" class="controls-col">
      Управління
    </td>
  </tr>
  <tr class="filter-row" #filterBlock>
    <td *ngIf="!(byClientId >= 0)">
      <mat-form-field>
        <mat-label></mat-label>
        <input
          type="text"
          name="client.fullname"
          data-key="client.fullname"
          ngModel
          matInput
          (keyup)="loadFiltered(filterBlock)"
        >
      </mat-form-field>
    </td>
    <td class="small-td">
      <mat-form-field>
        <mat-label></mat-label>
        <input
          type="text"
          name="city.name"
          data-key="city.name"
          ngModel
          matInput
          (keyup)="loadFiltered(filterBlock)"
        >
      </mat-form-field>
    </td>
    <td>
      <mat-form-field>
        <mat-label></mat-label>
        <input
          type="text"
          name="course.name"
          data-key="course.name"
          ngModel
          matInput
          (keyup)="loadFiltered(filterBlock)"
        >
      </mat-form-field>
    </td>
    <td
      *ngIf="!(byGroupId >= 0)"
    >
      <mat-form-field>
        <mat-label></mat-label>
        <input
          type="text"
          name="group.name"
          data-key="group.name"
          ngModel
          matInput
          (keyup)="loadFiltered(filterBlock)"
        >
      </mat-form-field>
    </td>
    <td class="small-td">
      <mat-form-field>
        <mat-label></mat-label>
        <input
          type="text"
          name="date"
          data-key="date"
          ngModel
          matInput
          disabled
        >
      </mat-form-field>
    </td>
    <td class="small-td">
      <mat-form-field>
        <mat-label></mat-label>
        <input
          type="text"
          name="fullPrice"
          data-key="fullPrice"
          ngModel
          matInput
          (keyup)="loadFiltered(filterBlock)"
        >
      </mat-form-field>
    </td>
    <td class="small-td">
      <mat-form-field>
        <mat-label></mat-label>
        <input
          type="text"
          name="leftToPay"
          data-key="leftToPay"
          ngModel
          matInput
          (keyup)="loadFiltered(filterBlock)"
        >
      </mat-form-field>
    </td>
    <td class="small-td">
      <mat-form-field>
        <mat-label></mat-label>
        <input
          type="text"
          name="hasPractice"
          data-key="hasPractice"
          ngModel
          matInput
          (keyup)="loadFiltered(filterBlock)"
        >
      </mat-form-field>
    </td>
    <td>
      <mat-form-field>
        <mat-label></mat-label>
        <input
          type="text"
          name="certificate"
          data-key="certificate"
          ngModel
          matInput
          (keyup)="loadFiltered(filterBlock)"
        >
      </mat-form-field>
    </td>
    <td *ngIf="canDeleteApplication" class="controls-col"></td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let application of applications" (click)="open(application.id, 'applications',$event)" class="data-row">
    <ng-container *ngIf="!(byClientId >= 0)">
      <td [ngClass]="{'link': !!application.client, 'no-link': !!!application.client}"
          (click)="open(application.client?.id, 'clients',$event)">
        <span *ngIf="application.client">
          {{application.client.name}} {{application.client.surname}}
        </span>
      </td>
    </ng-container>
    <td class="small-td" [ngClass]="{'link': !!application.city, 'no-link': !!!application.city}"
        (click)="open(application.city?.id, 'cities',$event)">
        <span *ngIf="application.city">
          {{application.city.name}}
        </span>
    </td>
    <ng-container>
      <td [ngClass]="{'link': !!application.course, 'no-link': !!!application.course}"
          (click)="open(application.course?.id, 'courses',$event)">
        <span *ngIf="application.course">
          {{application.course.name}}
        </span>
      </td>
    </ng-container>
    <ng-container *ngIf="!(byGroupId >= 0)">
      <td [ngClass]="{'link': !!application.group, 'no-link': !!!application.group}"
          (click)="open(application.group?.id, 'groups',$event)">
        <span *ngIf="application.group">
          {{application.group.name}}
        </span>
      </td>
    </ng-container>
    <td class="small-td">
      {{application.date | date : 'yyy/MM/dd'}}
    </td>
    <td class="small-td">
      {{application.fullPrice}}
    </td>
    <td class="small-td">
      {{application.leftToPay}}
    </td>
    <td class="small-td">
      <span *ngIf="application.hasPractice">+</span>
      <span *ngIf="!application.hasPractice">-</span>
    </td>
    <td>
      {{application.certificate}}
    </td>
    <td *ngIf="canDeleteApplication" class="controls-col" data-controls="true">
      <div class="remove-button" (click)="remove(application.id)" data-controls="true"></div>
    </td>
  </tr>
  </tbody>
</table>
