<div class="main-wrapper">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Нові заявки">
      <div class="tab">
        <div *ngFor="let eapplication of eapplications">
          <div *ngIf="eapplication.active" class="single-app">
            <app-single-eapplication
              [eapplication]="eapplication"
              (onBuildEapp)="buildEapp($event)"
              (onDeleteEapp)="deleteEapp($event)"
              (onBuildClient)="buildClient($event)"
            >
            </app-single-eapplication>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Архів">
      <div class="tab">
        <div *ngFor="let eapplication of eapplications">
          <div *ngIf="!eapplication.active" class="single-app">
            <app-single-eapplication
              [eapplication]="eapplication"
              (onBuildEapp)="buildEapp($event)"
              (onDeleteEapp)="deleteEapp($event)"
              (onBuildClient)="buildClient($event)"
            >
            </app-single-eapplication>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
  </div>

