<table>
  <thead>
  <tr class="material-table-paginator" #paginator>
    <th colspan="12">
      <div class="paginator-buttons">
        <span class="paginator-back" (click)="loadPaginated(-1, null)"></span>
        <span class="paginator-next" (click)="loadPaginated(1, null)"></span>
      </div>
      <mat-form-field>
        <mat-label></mat-label>
        <input
          type="number"
          [value]="pageIndex"
          matInput
          (blur)="loadPaginated(0, $event)"
        >
      </mat-form-field>
      з
      <span>{{countOfPages}}</span>
    </th>
    <th data-controls="true"></th>
  </tr>
  <tr #headerBlock>
    <td>
      Клієнт
    </td>
    <td>
      Рейтинг
    </td>
  </tr>
  <tr class="filter-row" #filterBlock>
    <td>
      <mat-form-field>
        <mat-label></mat-label>
        <input
          type="text"
          name="fullname"
          data-key="fullname"
          ngModel
          matInput
          (keyup)="loadFiltered(filterBlock)"
        >
      </mat-form-field>
    </td>
    <td>
      <mat-form-field>
        <mat-label></mat-label>
        <input
          type="text"
          name="rating"
          data-key="rating"
          ngModel
          disabled
          matInput
        >
      </mat-form-field>
    </td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let rating of ratings" (click)="open(rating.clientId, 'ratings/info',$event)" class="data-row">
    <td class="td-rating">
      {{rating.fullname}}
    </td>
    <td class="td-rating" [ngStyle]="{'background-color':rating.background, 'width':rating.widthBlock, 'position':'absolute', 'box-sizing':'border-box'}">
      <span class='rating-numbers'>{{rating.visited}} / {{rating.full}}</span>
    </td>
  </tr>
  </tbody>
</table>
