<div
  *ngIf="canCreateCourse">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        СТВОРИТИ
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form (ngSubmit)="createCourse(form)" #form="ngForm">
      <mat-form-field>
        <mat-label>Назва</mat-label>
        <input
          type="text"
          name="name"
          ngModel
          matInput
          required
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Ціна</mat-label>
        <input
          type="number"
          name="fullPrice"
          ngModel
          matInput
          required
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Знижка</mat-label>
        <input
          type="number"
          name="discount"
          ngModel
          matInput
          (input)="validateDiscount($event)"
        >
      </mat-form-field>
      <button mat-flat-button [disabled]="!form.valid">Створити</button>
    </form>
  </mat-expansion-panel>
</div>

<table>
  <thead>
  <tr class="material-table-paginator" #paginator>
    <th colspan="9">
      <div class="paginator-buttons">
        <span class="paginator-back" (click)="loadPaginated(-1, null)"></span>
        <span class="paginator-next" (click)="loadPaginated(1, null)"></span>
      </div>
      <mat-form-field>
        <mat-label></mat-label>
        <input
          type="number"
          [value]="pageIndex"
          matInput
          (blur)="loadPaginated(0, $event)"
        >
      </mat-form-field>
      з
      <span>{{countOfPages}}</span>
    </th>
    <th data-controls="true"></th>
  </tr>
  <tr #headerBlock>
    <td (click)="loadSorted('name',headerBlock,$event)" data-sort="">
      Назва
    </td>
    <td (click)="loadSorted('fullPrice',headerBlock,$event)" data-sort="">
      Ціна
    </td>
    <td (click)="loadSorted('discount',headerBlock,$event)" data-sort="">
      Знижка
    </td>
    <td (click)="loadSorted('resultPrice',headerBlock,$event)" data-sort="">
      Результат
    </td>
    <td *ngIf="canDeleteCourse" class="controls-col">
      Управління
    </td>
  </tr>
  <tr class="filter-row" #filterBlock>
    <td>
      <mat-form-field>
        <mat-label></mat-label>
        <input
          type="text"
          name="name"
          data-key="name"
          ngModel
          matInput
          (keyup)="loadFiltered(filterBlock)"
        >
      </mat-form-field>
    </td>
    <td>
      <mat-form-field>
        <mat-label></mat-label>
        <input
          type="number"
          name="fullPrice"
          data-key="fullPrice"
          ngModel
          matInput
          (keyup)="loadFiltered(filterBlock)"
        >
      </mat-form-field>
    </td>
    <td>
      <mat-form-field>
        <mat-label></mat-label>
        <input
          type="number"
          name="discount"
          data-key="discount"
          ngModel
          matInput
          (input)="validateDiscount($event)"
          (keyup)="loadFiltered(filterBlock)"
        >
      </mat-form-field>
    </td>
    <td>
      <mat-form-field>
        <mat-label></mat-label>
        <input
          type="number"
          name="resultPrice"
          data-key="resultPrice"
          ngModel
          matInput
          (keyup)="loadFiltered(filterBlock)"
        >
      </mat-form-field>
    </td>
    <td *ngIf="canDeleteCourse" class="controls-col"></td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let course of courses" (click)="open(course.id, 'courses',$event)" class="data-row">
    <td>
      {{course.name}}
    </td>
    <td>
      {{course.fullPrice}}
    </td>
    <td>
      {{course.discount}}%
    </td>
    <td>
      {{course.resultPrice}}
    </td>
    <td *ngIf="canDeleteCourse" class="controls-col" data-controls="true">
      <div class="remove-button" (click)="remove(course.id)" data-controls="true"></div>
    </td>
  </tr>
  </tbody>
</table>
