<table>
  <thead>
  <tr #headerBlock>
    <td
      *ngFor="let header of headers"
      (click)="sort(header,headerBlock,$event)"
      data-sort=""
    >
      {{header.header}}
    </td>
  </tr>
  <tr class="filter-row" #filterBlock>
    <td *ngFor="let header of headers">
      <mat-form-field>
        <mat-label></mat-label>
        <input
          type="text"
          [name]="header.key"
          [attr.data-key]="header.key"
          ngModel
          matInput
          [disabled]="!header.filtered"
          (keyup)="onKeyUp(header, filterBlock, $event)"
        >
      </mat-form-field>
    </td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of dataSource">
    <ng-container *ngFor="let header of headers">
      <td>
        {{data[header.key]}}
      </td>
    </ng-container>
  </tr>
  </tbody>
</table>
