.main-wrapper {
  width: 100%;
  display: flex;
  margin-top: 15px;
  flex-wrap: wrap;
  justify-content: space-around;
}

mat-list {
  padding-top: 0;
}

.left-menu, .right-menu, .group-applications, .group-lesson-block, .group-practice {
  background: white;
  padding: 15px 25px;
}

.left-menu {
  width: 30%;
  margin-left: 15px;
  border-left: 3px solid green;
  border-top: 3px solid green;
}

.right-menu {
  width: 60%;
  margin-right: 15px;
  border-left: 3px solid #f44336;
  border-top: 3px solid #f44336;
}

form button {
  width: 100%;
}

.group-applications{
  margin: 15px;
  width: inherit;
  border-left: 3px solid #3f51b5;
  border-top: 3px solid #3f51b5;
}

.group-practice{
  margin: 15px;
  width: inherit;
  border-left: 3px solid #b52a92;
  border-top: 3px solid #b52a92;
}

.group-lesson-block {
  margin: 15px 15px 0px;
  width: inherit;
  border-left: 3px solid #cea51a;
  border-top: 3px solid #cea51a;
}

mat-expansion-panel {
  background: #f9f9f9;
}

form {
  display: flex;
  flex-direction: column;
}

form input{
  font-size: 18px;
}
