<div class="main-wrapper">
  <div class="left-menu">
    <h3>ОНОВИТИ</h3>
    <form #form="ngForm" (ngSubmit)="updateGroup()">
      <mat-form-field>
        <mat-label>Місто</mat-label>
        <input
          type="text"
          name="cityId"
          [value]="group?.city?.name"
          matInput
          disabled
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Курс</mat-label>
        <input
          type="text"
          name="courseId"
          [value]="group.course?.name"
          matInput
          disabled
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Ім'я</mat-label>
        <input
          type="text"
          name="name"
          [(ngModel)]="group.name"
          matInput
          required
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Вільна практика</mat-label>
        <input
          type="number"
          name="freePractice"
          [(ngModel)]="group.freePractice"
          #freePractice="ngModel"
          (input)="validatePractice(freePractice)"
          matInput
          required
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Використана практика</mat-label>
        <input
          type="number"
          name="usedPractice"
          [(ngModel)]="group.usedPractice"
          matInput
          disabled
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Початкова дата</mat-label>
        <input
          type="text"
          matInput
          [(ngModel)]="group.startDate"
          name="startDate"
          [matDatepicker]="pickerStartDate"
          placeholder="Виберіть дату"
          readonly
          (click)="pickerStartDate.open()"
        >
        <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
        <mat-datepicker #pickerStartDate disabled="false"></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Початковий час</mat-label>
        <input
          type="time"
          name="startTime"
          [(ngModel)]="group.startTime"
          required
          matInput
        >
      </mat-form-field>
      <button *ngIf="canUpdateGroup" mat-flat-button [disabled]="!form.valid">Оновити</button>
    </form>
  </div>
  <div class="right-menu">
    <div class="right-menu-header">
    <h3>СТАТИСТИКА ВІДВІДУВАНОСТІ</h3>
    <h3>Кількість учнів: {{studentsQuantity}}</h3>
    </div>
    <div>
      <canvas
        *ngIf="chartDatasets.length > 0"
        baseChart
        chartType="bar"
        [labels]="chartLabels"
        [datasets]="chartDatasets"
        [legend]="false"
        [colors]="chartColors"
        [options]="chartOptions"
        width="100%"
        height="48%"
      >
      </canvas>
    </div>
  </div>


  <div class="group-lesson-block">
    <h3>ЗАНЯТТЯ</h3>
    <mat-expansion-panel *ngIf="canCreateLesson">
      <mat-expansion-panel-header>
        <mat-panel-title>
          СТВОРИТИ ЗАНЯТТЯ
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form #formLesson="ngForm" (ngSubmit)="createLesson(formLesson)">
        <mat-form-field>
          <mat-label>Тема</mat-label>
          <input
            type="text"
            name="topic"
            ngModel
            matInput
            required
          >
        </mat-form-field>
        <mat-checkbox ngModel name="main" [value]="false">Ключове заняття</mat-checkbox>
        <button mat-flat-button [disabled]="!formLesson.valid">Створити</button>
      </form>
    </mat-expansion-panel>
    <app-lessons-table
      *ngIf="group.id"
      #lessonsTable
      [byGroupId]="group.id"
      [canDeleteLessonInput]="canDeleteLesson"
    ></app-lessons-table>
  </div>


  <div class="group-applications overflow-x" *ngIf="group.id">
    <h3>ЗАЯВКИ</h3>
    <app-applications-table *ngIf="group.id" [byGroupId]="group.id"
                            [canDeleteApplicationInput]="canDeleteApplication" #appApplctnTable></app-applications-table>
  </div>

  <div class="group-practice overflow-x">
    <h3>ПРАКТИКА</h3>
    <mat-selection-list #practiceList>
      <ng-container *ngFor="let app of applicationsToPractice">
        <mat-list-option [value]="app.id" [selected]="!!app.hasPractice"
                         [disabled]="(!canSelectPractice) || (!hasFreePracticePlaces && !app.hasPractice)">
          <mat-icon mat-list-icon (click)="openApplication(app.id, $event)">meeting_room</mat-icon>
          <p>{{app.client.name}} {{app.client.surname}}</p>
        </mat-list-option>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-selection-list>
  </div>
</div>
