<div class="main-wrapper">
  <div class="left-menu">
    <h3>UPDATE</h3>
    <form #form="ngForm" (ngSubmit)="updateCourse()">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input
          type="text"
          name="name"
          [(ngModel)]="course.name"
          matInput
          required
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Price</mat-label>
        <input
          type="number"
          name="fullPrice"
          [(ngModel)]="course.fullPrice"
          matInput
          required
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Discount</mat-label>
        <input
          type="text"
          name="discount"
          [(ngModel)]="course.discount"
          matInput
          (input)="validateDiscount($event)"
        >
      </mat-form-field>
      <button mat-flat-button *ngIf="canUpdateCourse" [disabled]="!form.valid">Update</button>
    </form>
  </div>
  <div class="course-groups" *ngIf="course.id">
    <h3>GROUPS</h3>
    <app-groups-table [byCourseId]="course.id" [canDeleteGroupInput]="canDeleteGroup"></app-groups-table>
  </div>
  <div class="right-menu">
    <h3>APPLICATIONS STATISTIC</h3>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          FILTER
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form #statForm="ngForm">
        <mat-form-field>
          <mat-label>Start date</mat-label>
          <input
            type="text"
            matInput
            ngModel
            name="startDate"
            [matDatepicker]="pickerStartDate"
            placeholder="Choose a date"
            readonly
            (click)="pickerStartDate.open()"
          >
          <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
          <mat-datepicker #pickerStartDate disabled="false"></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label>End date</mat-label>
          <input
            type="text"
            matInput
            ngModel
            name="endDate"
            [matDatepicker]="pickerEndDate"
            placeholder="Choose a date"
            readonly
            (click)="pickerEndDate.open()"
          >
          <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
          <mat-datepicker #pickerEndDate disabled="false"></mat-datepicker>
        </mat-form-field>
        <div class="stat-form-buttons">
          <button
            mat-flat-button
            (click)="loadApplicationStatistic(statForm, false)"
          >
            Find
          </button>
          <button
            mat-flat-button
            (click)="loadApplicationStatistic(statForm, true)"
          >
            Reset
          </button>
        </div>
      </form>
    </mat-expansion-panel>
    <div>
      <canvas
        *ngIf="appChartDatasets.length > 0"
        baseChart
        chartType="bar"
        [labels]="appChartLabels"
        [datasets]="appChartDatasets"
        [legend]="false"
        [colors]="appChartColors"
        [options]="appChartOptions"
        width="100%"
        height="25%"
      >
      </canvas>
    </div>
  </div>
  <div class="payment-statistic">
    <h3>PAYMENT STATISTIC</h3>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          FILTER
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form #paymentStatForm="ngForm">
        <mat-form-field>
          <mat-label>Start date</mat-label>
          <input
            type="text"
            matInput
            ngModel
            name="startDate"
            [matDatepicker]="paymentPickerStartDate"
            placeholder="Choose a date"
            readonly
            (click)="paymentPickerStartDate.open()"
          >
          <mat-datepicker-toggle matSuffix [for]="paymentPickerStartDate"></mat-datepicker-toggle>
          <mat-datepicker #paymentPickerStartDate disabled="false"></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label>End date</mat-label>
          <input
            type="text"
            matInput
            ngModel
            name="endDate"
            [matDatepicker]="paymentPickerEndDate"
            placeholder="Choose a date"
            readonly
            (click)="paymentPickerEndDate.open()"
          >
          <mat-datepicker-toggle matSuffix [for]="paymentPickerEndDate"></mat-datepicker-toggle>
          <mat-datepicker #paymentPickerEndDate disabled="false"></mat-datepicker>
        </mat-form-field>
        <div class="stat-form-buttons">
          <button
            mat-flat-button
            (click)="loadPaymentStatistic(paymentStatForm, false)"
          >
            Find
          </button>
          <button
            mat-flat-button
            (click)="loadPaymentStatistic(paymentStatForm, true)"
          >
            Reset
          </button>
        </div>
      </form>
    </mat-expansion-panel>
    <div>
      <canvas
        *ngIf="paymentChartDatasets.length > 0"
        baseChart
        chartType="bar"
        [labels]="paymentChartLabels"
        [datasets]="paymentChartDatasets"
        [legend]="false"
        [colors]="[undefined]"
        [options]="paymentChartOptions"
        width="100%"
        height="25%"
      >
      </canvas>
    </div>
  </div>
</div>
