<div class="main-wrapper">
  <div class="left-menu">
    <h3>UPDATE</h3>
    <form #form="ngForm" (ngSubmit)="updateCourse()">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input
          type="text"
          name="name"
          [(ngModel)]="course.name"
          matInput
          required
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Price</mat-label>
        <input
          type="number"
          name="fullPrice"
          [(ngModel)]="course.fullPrice"
          matInput
          required
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Discount</mat-label>
        <input
          type="text"
          name="discount"
          [(ngModel)]="course.discount"
          matInput
          (input)="validateDiscount($event)"
        >
      </mat-form-field>
      <button mat-flat-button *ngIf="canUpdateCourse" [disabled]="!form.valid">Update</button>
    </form>
  </div>
  <div class="right-menu">
    <!--todo statistic-->
    FUTURE STATISTIC BY APPLICATIONS
    AND GROUPS
  </div>
  <div class="course-groups" *ngIf="course.id">
    <h3>GROUPS</h3>
    <app-groups-table [byCourseId]="course.id" [canDeleteGroupInput]="canDeleteGroup"></app-groups-table>
  </div>
</div>
