<div class="main-wrapper">
  <div class="left-menu">
    <h3>ОНОВИТИ</h3>
    <form #formLesson="ngForm" (ngSubmit)="updateLesson()">
      <mat-form-field>
        <mat-label>Тема</mat-label>
        <input
          type="text"
          name="topic"
          [(ngModel)]="lesson.topic"
          matInput
          required
        >
      </mat-form-field>
      <mat-checkbox [(ngModel)]="lesson.main" name="main" [checked]="lesson.main">Ключове заняття</mat-checkbox>
      <button mat-flat-button [disabled]="!formLesson.valid">Оновити</button>
    </form>
  </div>
  <div class="right-menu">
    <h3>ЖУРНАЛ</h3>
    <mat-selection-list #clientsList>
      <ng-container *ngFor="let application of applications">
        <mat-list-option [value]="application.id" [selected]="isPresent(application.id)">
          <mat-icon mat-list-icon (click)="openClient(application.clientId, $event)">perm_identity</mat-icon>
          <p>{{application.client.name}} {{application.client.surname}}</p>
        </mat-list-option>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-selection-list>
  </div>
</div>
