<h2 mat-dialog-title
    class="dialog-header">UPDATE SOCIAL</h2>

<mat-dialog-content>
  <form class="dialog-form" #form='ngForm'>
    <mat-form-field>
      <mat-label>URL</mat-label>
      <input type="text"
             name="url"
             matInput
             [(ngModel)]="social.url"
             required>
    </mat-form-field>
    <div class="form-buttons">
      <button mat-button
              mat-flat-button
              (click)="updateSocial()"
              [disabled]="form.invalid"
              type="submit">
        Update
      </button>
      <button mat-button
              mat-flat-button
              class="dialog-close-button"
              type="button"
              [mat-dialog-close]="true">
        Close
      </button>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
</mat-dialog-actions>
