<mat-toolbar>
  <mat-toolbar-row class="main-menu">
    <div class="menu-span-wrapper" routerLink="/">
      <span class="main-logo">OWU CRM</span>
    </div>
    <div class="menu-span-wrapper" routerLink="/clients" routerLinkActive="active-main-menu">
      <span>Clients</span>
    </div>
    <div class="menu-span-wrapper" routerLink="/tasks" routerLinkActive="active-main-menu">
      <span>Tasks</span>
    </div>
    <div class="menu-span-wrapper" routerLink="/applications" routerLinkActive="active-main-menu">
      <span>Applications</span>
    </div>
    <div class="menu-span-wrapper" routerLink="/groups" routerLinkActive="active-main-menu">
      <span>Groups</span>
    </div>
    <div class="menu-span-wrapper" routerLink="/courses" routerLinkActive="active-main-menu">
      <span>Courses</span>
    </div>
    <div class="menu-span-wrapper" routerLink="/sources" routerLinkActive="active-main-menu">
      <span>Sources</span>
    </div>
    <div class="menu-span-wrapper" routerLink="/cities" routerLinkActive="active-main-menu">
      <span>Cities</span>
    </div>
    <div class="menu-span-wrapper" routerLink="/managers" routerLinkActive="active-main-menu">
      <span>Managers</span>
    </div>
    <div class="menu-span-wrapper" routerLink="/login" routerLinkActive="active-main-menu">
      <span>Login</span>
    </div>
    <div class="menu-span-wrapper" (click)="logout()">
      <span>Logout</span>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<app-breadcrumbs></app-breadcrumbs>

<router-outlet></router-outlet>
