<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      CREATE
    </mat-panel-title>
  </mat-expansion-panel-header>
  <form (ngSubmit)="createGroup(form)" #form="ngForm">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input
        type="text"
        name="name"
        ngModel
        matInput
        required
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Start Date</mat-label>
      <input
        type="date"
        name="startDate"
        ngModel
        matInput
        required
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Start Time</mat-label>
      <input
        type="time"
        name="startTime"
        ngModel
        matInput
        required
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Course</mat-label>
      <mat-select ngModel name="courseId" required>
        <mat-option *ngFor="let course of courses" [value]="course.id">
          {{course.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-flat-button [disabled]="!form.valid">Create</button>
  </form>
</mat-expansion-panel>

<app-groups-table #groupsTable></app-groups-table>
