<mat-expansion-panel #formpanel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      СТВОРИТИ
    </mat-panel-title>
  </mat-expansion-panel-header>
  <form #form="ngForm" (ngSubmit)="createApplication(form)">
    <mat-form-field>
      <mat-label>Дата</mat-label>
      <input
        type="text"
        matInput
        [(ngModel)]="applicationForm.date"
        name="date"
        [matDatepicker]="pickerStartDate"
        placeholder="Виберіть дату"
        readonly
        (click)="pickerStartDate.open()"
      >
      <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
      <mat-datepicker #pickerStartDate disabled="false"></mat-datepicker>
    </mat-form-field>
    <mat-form-field (click)="selectClient($event)">
      <mat-label>Клієнт</mat-label>
      <input
        type="text"
        name="clientId"
        [(ngModel)]="selectedClient.name + ' ' + selectedClient.surname"
        matInput
        required
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Місто</mat-label>
      <mat-select [(ngModel)]="applicationForm.cityId" name="cityId" (ngModelChange)="loadGroups()" required>
        <mat-option *ngFor="let city of cities" [value]="city.id">
          {{city.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Курс</mat-label>
      <mat-select [(ngModel)]="applicationForm.courseId" name="courseId" (ngModelChange)="loadGroups()" required>
        <mat-option *ngFor="let course of courses" [value]="course.id">
          {{course.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Джерела</mat-label>
      <mat-select [(ngModel)]="applicationForm.sources" name="sources" multiple>
        <mat-option *ngFor="let source of sources" [value]="source.id">
          {{source.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="groups">
      <mat-label>Групи</mat-label>
      <mat-select [(ngModel)]="applicationForm.groupId" name="sources" multiple>
        <mat-option *ngFor="let group of groups" [value]="group.id">
          {{group.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Ціна</mat-label>
      <input
        type="text"
        name="fullPrice"
        [(ngModel)]="applicationForm.fullPrice"
        matInput
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Знижка</mat-label>
      <input
        type="text"
        name="discount"
        [(ngModel)]="applicationForm.discount"
        matInput
      >
    </mat-form-field>
    <mat-checkbox ngModel name="wantPractice" [(ngModel)]="applicationForm.wantPractice">Хоче практику</mat-checkbox>
    <label>Контракт</label>
    <input
      type="file"
      name="file"
      multiple
      ngModel
      (change)="contractChange($event)"
    >
    <button mat-flat-button [disabled]="!form.valid">Створити</button>
  </form>
</mat-expansion-panel>

<div class="overflow-x">
  <app-applications-table #applicationsTable></app-applications-table>
</div>
