<mat-expansion-panel #formpanel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      CREATE
    </mat-panel-title>
  </mat-expansion-panel-header>
  <form #form="ngForm" (ngSubmit)="createApplication(form)">
    <mat-form-field>
      <mat-label>Date</mat-label>
      <input
        type="date"
        name="date"
        [(ngModel)]="applicationForm.date"
        matInput
        required
      >
    </mat-form-field>
    <mat-form-field (click)="selectClient($event)">
      <mat-label>Client</mat-label>
      <input
        type="text"
        name="clientId"
        [(ngModel)]="selectedClient.name + ' ' + selectedClient.surname"
        matInput
        required
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>City</mat-label>
      <mat-select [(ngModel)]="applicationForm.cityId" name="cityId" required>
        <mat-option *ngFor="let city of cities" [value]="city.id">
          {{city.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Course</mat-label>
      <mat-select [(ngModel)]="applicationForm.courseId" name="courseId" required>
        <mat-option *ngFor="let course of courses" [value]="course.id">
          {{course.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Source</mat-label>
      <mat-select [(ngModel)]="applicationForm.sources" name="sources" multiple>
        <mat-option *ngFor="let source of sources" [value]="source.id">
          {{source.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Discount</mat-label>
      <input
        type="number"
        name="discount"
        [(ngModel)]="applicationForm.discount"
        matInput
        (input)="validateDiscount($event)"
      >
    </mat-form-field>
      <mat-checkbox ngModel name="wantPractice" [(ngModel)]="applicationForm.wantPractice">Want practice</mat-checkbox>
    <button mat-flat-button [disabled]="!form.valid">Create</button>
  </form>
</mat-expansion-panel>

<div class="overflow-x">
  <app-applications-table #applicationsTable ></app-applications-table>
</div>
