mat-expansion-panel {
  background: #f9f9f9;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  font-size: 18px;
}

.denial {
  width: 20px;
}
th {
  width: 1000px;
}


table {
  background-color: #aaa;
}
tbody {
  background-color: #ddd;
  height: 678px;
  padding-bottom: 20px;
  overflow: auto;
}
td {
  width: 220px;
  padding: 3px 10px;
}

thead > tr, tbody{
  display:block;
}

.width-523-px {
  width: 523px;
}

.name{
  width: 234px;
}
.surname{
  width: 228px;
}
.phone{
  width: 226px;
}
.email{
  width: 233px;
}
.age{
  width: 236px;
}
.status{
  width: 232px;
}
.controls{
  width: 215px;
}

