<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      CREATE
    </mat-panel-title>
  </mat-expansion-panel-header>
  <form (ngSubmit)="createClient(form)" #form="ngForm">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input
        type="text"
        name="name"
        ngModel
        matInput
        required
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Surname</mat-label>
      <input
        type="text"
        name="surname"
        ngModel
        matInput
        required
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Phone</mat-label>
      <input
        type="tel"
        name="phone"
        ngModel
        matInput
        minlength="6"
        maxlength="15"
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        type="email"
        name="email"
        ngModel
        matInput
        email
      >
    </mat-form-field>
    <button mat-flat-button [disabled]="!form.valid">Create</button>
  </form>
</mat-expansion-panel>

<app-material-table
  *ngIf="clients.length > 0"
  [dataSource]="clients"
  [headers]="headers"
  [count]="count"
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  (onSort)="loadSorted($event)"
  (onFilter)="loadFiltered($event)"
  (onPagination)="loadPaginated($event)"
  (onRemove)="remove($event)"
  (onOpen)="open($event)"
>
</app-material-table>
