<mat-expansion-panel #formPanel *ngIf="canCreateClient">
  <mat-expansion-panel-header>
    <mat-panel-title>
      СТВОРИТИ
    </mat-panel-title>
  </mat-expansion-panel-header>
  <form (ngSubmit)="createClient(form)" #form="ngForm" enctype="multipart/form-data">
    <mat-form-field>
      <mat-label>Ім'я</mat-label>
      <input
        type="text"
        name="name"
        [(ngModel)]="clientFormObject.name"
        matInput
        required
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Прізвище</mat-label>
      <input
        type="text"
        name="surname"
        [(ngModel)]="clientFormObject.surname"
        matInput
        required
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Вік</mat-label>
      <input
        type="number"
        name="age"
        [(ngModel)]="clientFormObject.age"
        matInput
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Адреса</mat-label>
      <input
        name="address"
        appGooglePlaces
        ngModel
        matInput
        (onSelect)="setAddress($event)"
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Телефон</mat-label>
      <input
        type="tel"
        name="phone"
        [(ngModel)]="clientFormObject.phone"
        matInput
        minlength="6"
        maxlength="15"
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Емейл</mat-label>
      <input
        type="email"
        name="email"
        [(ngModel)]="clientFormObject.email"
        matInput
        email
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Статус</mat-label>
      <mat-select [(ngModel)]="clientFormObject.statusId" name="statusId" required>
        <mat-option *ngFor="let status of clientStatuses" [value]="status.id">
          {{status.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-flat-button [disabled]="!form.valid">Створити</button>
  </form>
</mat-expansion-panel>

<table>
  <thead>
  <tr class="material-table-paginator"  #paginator>
    <th colspan="5">
      <div class="paginator-buttons">
        <span class="paginator-back" (click)="loadPaginated(-1, null)"></span>
        <span class="paginator-next" (click)="loadPaginated(1, null)"></span>
      </div>
      <mat-form-field>
        <mat-label></mat-label>
        <input
          type="number"
          [value]="pageIndex"
          matInput
          (blur)="loadPaginated(0, $event)"
        >
      </mat-form-field>
      з
      <span>{{countOfPages}}</span>
    </th>
    <th data-controls="true"></th>
    <th colspan="4">
      <span>Ліміт клієнтів на сторінці:</span>
      <mat-form-field>
      <mat-label></mat-label>
      <input
        type="number"
        [(ngModel)]="pageSize"
        matInput
        (input)="loadClients()"
      >
    </mat-form-field>
    </th>
  </tr>
  <tr #headerBlock>
    <td (click)="loadSorted('name',headerBlock,$event)" data-sort="" class="name">
      Ім'я
    </td>
    <td (click)="loadSorted('surname',headerBlock,$event)" data-sort="" class="surname">
      Прізвище
    </td>
    <td (click)="loadSorted('phone',headerBlock,$event)" data-sort="" class="phone">
      Телефон
    </td>
    <td (click)="loadSorted('email',headerBlock,$event)" data-sort="" class="email">
      Емейл
    </td>
    <td (click)="loadSorted('age',headerBlock,$event)" data-sort="" class="age">
      Вік
    </td>
    <td class="status">
      Статус
    </td>
    <td  class="small-td" (click)="loadSorted('createdAt',headerBlock,$event)" data-sort="">
      Cтворено
    </td>
    <td  class="small-td" (click)="loadSorted('updatedAt',headerBlock,$event)" data-sort="">
      Оновлено
    </td>
    <td *ngIf="canDeleteClient" class="controls-col controls">
      Управління
    </td>
  </tr>
  <tr class="filter-row" #filterBlock>
    <td>
      <mat-form-field>
        <mat-label></mat-label>
        <input
          type="text"
          name="name"
          data-key="name"
          ngModel
          matInput
          (keyup)="loadFiltered(filterBlock)"
        >
      </mat-form-field>
    </td>
    <td>
      <mat-form-field>
        <mat-label></mat-label>
        <input
          type="text"
          name="surname"
          data-key="surname"
          ngModel
          matInput
          (keyup)="loadFiltered(filterBlock)"
        >
      </mat-form-field>
    </td>
    <td>
      <mat-form-field>
        <mat-label></mat-label>
        <input
          type="text"
          name="phone"
          data-key="phone"
          ngModel
          matInput
          (keyup)="loadFiltered(filterBlock)"
        >
      </mat-form-field>
    </td>
    <td>
      <mat-form-field>
        <mat-label></mat-label>
        <input
          type="text"
          name="email"
          data-key="email"
          ngModel
          matInput
          (keyup)="loadFiltered(filterBlock)"
        >
      </mat-form-field>
    </td>
    <td>
      <mat-form-field>
        <mat-label></mat-label>
        <input
          type="text"
          name="age"
          data-key="age"
          ngModel
          matInput
          (keyup)="loadFiltered(filterBlock)"
        >
      </mat-form-field>
    </td>
    <td>
      <mat-form-field>
        <mat-label></mat-label>
        <mat-select [(ngModel)]="statusIdForSearch" name="statusId" matInput>
          <mat-option [value]="" (click)="loadFiltered(filterBlock)">
            ------
          </mat-option>
          <mat-option *ngFor="let status of clientStatuses" [value]="status.id" (click)="loadFiltered(filterBlock)">
            {{status.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </td>
    <td>

      <mat-form-field>
        <mat-label></mat-label>
        <input
          type="text"
          name="createdAt"
          data-key="createdAt"
          ngModel
          matInput
          disabled
        >
      </mat-form-field>

    </td>
    <td>

      <mat-form-field>
        <mat-label></mat-label>
        <input
          type="text"
          name="updatedAt"
          data-key="updatedAt"
          ngModel
          matInput
          disabled
        >
      </mat-form-field>

    </td>
    <td *ngIf="canDeleteClient" class="controls-col width-523-px"></td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let client of clients" (click)="open(client, 'clients', $event)" class="data-row">
    <td>
      {{client.name}}
    </td>
    <td>
      {{client.surname}}
    </td>
    <td>
      {{client.phone}}
    </td>
    <td>
      {{client.email}}
    </td>
    <td>
      {{client.age}}
    </td>
      <td *ngIf="client.statusId" [ngStyle]="{ 'background': clientStatuses | statusColor: client.statusId }">
        {{clientStatuses | statusName: client.statusId}}
      </td>
    <ng-container *ngIf="client.socials">
      <td>
        {{ client.createdAt | date:'dd/MM/yy, hh:mm a' }}
      </td>
      <td>
        {{ client.updatedAt | date:'dd/MM/yy, hh:mm a' }}
      </td>
    </ng-container>
    <td *ngIf="canDeleteClient" class="controls-col" data-controls="true">
      <div class="remove-button" (click)="remove(client.id)" data-controls="true"></div>
    </td>
  </tr>
  </tbody>
</table>
