.dialog-header {
  text-align: center;
}

.client-tile {
  display: flex;
  width: 100%;
  padding: 15px 0;
  border-bottom: 1px solid #80808040;
  text-align: center;
}

.client-tile-data {
  flex-grow: 1;
  min-width: 33.3333%;
  cursor: pointer;
}

.dialog-buttons{
  width: 100%;
  display: flex;
}

.dialog-buttons button{
  width: 49%;
}

.dialog-buttons button:first-child{
  background: #b22424;
}

.dialog-buttons button:last-child{
  background: #3fb54e;
}
