<table>
  <thead>
  <tr class="material-table-paginator" #paginator>
    <th colspan="9">
      <div class="paginator-buttons">
        <span class="paginator-back" (click)="loadPaginated(-1, null)"></span>
        <span class="paginator-next" (click)="loadPaginated(1, null)"></span>
      </div>
      <mat-form-field>
        <mat-label></mat-label>
        <input
          type="number"
          [value]="pageIndex"
          matInput
          (blur)="loadPaginated(0, $event)"
        >
      </mat-form-field>
      of
      <span>{{countOfPages}}</span>
    </th>
    <th data-controls="true"></th>
  </tr>
  <tr #headerBlock>
    <td (click)="loadSorted('text',headerBlock,$event)" data-sort="">
      Text
    </td>
    <td (click)="loadSorted('date',headerBlock,$event)" data-sort="">
      Date
    </td>
    <td class="controls-col">
      CONTROLS
    </td>
  </tr>
  <tr class="filter-row" #filterBlock>
    <td>
      <mat-form-field>
        <mat-label></mat-label>
        <input
          type="text"
          name="text"
          data-key="text"
          ngModel
          matInput
          (keyup)="loadFiltered(filterBlock)"
        >
      </mat-form-field>
    </td>
    <td>
      <mat-form-field>
        <mat-label></mat-label>
        <input
          type="text"
          name="date"
          data-key="date"
          ngModel
          matInput
          disabled
        >
      </mat-form-field>
    </td>
    <td class="controls-col"></td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let comment of comments" class="data-row">
    <td>
      {{comment.text}}
    </td>
    <td>
      {{comment.date | date : 'yyyy/MM/dd'}}
    </td>
    <td class="controls-col" data-controls="true">
      <div class="remove-button" (click)="remove(comment.id)" data-controls="true"></div>
    </td>
  </tr>
  </tbody>
</table>
