.success-payment {
  background: rgba(64, 160, 79, 0.3);
}

.failed-payment {
  background: rgba(219, 38, 38, 0.3);
}

th, td {
  padding: 3px 15px;
}
.cleanPaymentDateInput {
  display: block;
  position: absolute;
  right: -32px;
  color: red;
  z-index: 1000;
  font-size: unset;
}
.display-none{
  display: none;
}
