<table>
  <thead>
  <tr class="material-table-paginator" #paginator>
    <th colspan="9">
      <div class="paginator-buttons">
        <span class="paginator-back" (click)="loadPaginated(-1, null)"></span>
        <span class="paginator-next" (click)="loadPaginated(1, null)"></span>
      </div>
      <mat-form-field>
        <mat-label></mat-label>
        <input
          type="number"
          [value]="pageIndex"
          matInput
          (blur)="loadPaginated(0, $event)"
        >
      </mat-form-field>
      з
      <span>{{countOfPages}}</span>
    </th>
    <th data-controls="true"></th>
  </tr>
  <tr #headerBlock>
    <td *ngIf="!byApplicationId"
        class="small-td"
        (click)="loadSorted('application.client.name',headerBlock,$event)" data-sort="">
      Клієнт
    </td>
    <td *ngIf="!byApplicationId"
        class="small-td"
        (click)="loadSorted('application.course.name',headerBlock,$event)" data-sort="">
      Курс
    </td>
    <td class="small-td" (click)="loadSorted('number',headerBlock,$event)" data-sort="">
      Номер
    </td>
    <td class="small-td" (click)="loadSorted('expectedDate',headerBlock,$event)" data-sort="">
      Очікувана дата
    </td>
    <td class="small-td" (click)="loadSorted('expectedAmount',headerBlock,$event)" data-sort="">
      Очікувана сума
    </td>
    <td class="small-td" (click)="loadSorted('paymentDate',headerBlock,$event)" data-sort="">
      Дата платежа
    </td>
    <td class="small-td" (click)="loadSorted('amount',headerBlock,$event)" data-sort="">
      Сума
    </td>
    <td class="small-td">
      Додати чек
    </td>
    <td class="small-td">
      Чек
    </td>
    <td class="controls-col">
      Управління
    </td>
  </tr>
  <tr class="filter-row" #filterBlock>
    <td *ngIf="!byApplicationId" class="small-td">
      <mat-form-field>
        <mat-label></mat-label>
        <input
          type="text"
          name="client.fullname"
          data-key="client.fullname"
          ngModel
          matInput
          (keyup)="loadFiltered(filterBlock)"
        >
      </mat-form-field>
    </td>
    <td *ngIf="!byApplicationId" class="small-td">
      <mat-form-field>
        <mat-label></mat-label>
        <input
          type="text"
          name="course.name"
          data-key="course.name"
          ngModel
          matInput
          (keyup)="loadFiltered(filterBlock)"
        >
      </mat-form-field>
    </td>
    <td class="small-td">
      <mat-form-field>
        <mat-label></mat-label>
        <input
          type="text"
          name="number"
          data-key="number"
          ngModel
          matInput
          (keyup)="loadFiltered(filterBlock)"
        >
      </mat-form-field>
    </td>
    <td class="small-td">
      <mat-form-field>
        <mat-label></mat-label>
        <input
          type="text"
          name="expectedDate"
          data-key="expectedDate"
          ngModel
          matInput
          disabled
        >
      </mat-form-field>
    </td>
    <td class="small-td">
      <mat-form-field>
        <mat-label></mat-label>
        <input
          type="number"
          name="expectedAmount"
          data-key="expectedAmount"
          ngModel
          matInput
          (keyup)="loadFiltered(filterBlock)"
        >
      </mat-form-field>
    </td>
    <td class="small-td">
      <mat-form-field>
        <mat-label></mat-label>
        <input
          type="text"
          name="paymentDate"
          data-key="paymentDate"
          ngModel
          matInput
          disabled
        >
      </mat-form-field>
    </td>
    <td class="small-td">
      <mat-form-field>
        <mat-label></mat-label>
        <input
          type="number"
          name="amount"
          data-key="amount"
          ngModel
          matInput
          (keyup)="loadFiltered(filterBlock)"
        >
      </mat-form-field>
    </td>
    <td class="small-td">
      <mat-form-field>
        <mat-label></mat-label>
        <input
          type="text"
          name="file"
          data-key="file"
          ngModel
          matInput
          disabled
        >
      </mat-form-field>
    </td>
    <td class="controls-col"></td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let payment of payments"
      class="data-row"
      [ngClass]="{
        'success-payment': checkFailedPayment(payment) === true,
        'failed-payment': checkFailedPayment(payment) === false
      }"
      (click)="open(payment, $event)">
    <td *ngIf="!byApplicationId" class="link small-td"
        (click)="openLink(payment.application.clientId, 'clients', $event)">
      {{payment.application && payment.application.client ? payment.application.client.name + ' ' + payment.application.client.surname : ''}}
    </td>
    <td *ngIf="!byApplicationId" class="link small-td"
        (click)="openLink(payment.application.courseId, 'courses', $event)">
      {{payment.application && payment.application.course ? payment.application.course.name : ''}}
    </td>
    <td class="small-td">
      {{payment.number}}
    </td>
    <td class="small-td">
      {{payment.expectedDate | date : 'yyy/MM/dd'}}
    </td>
    <td class="small-td">
      {{payment.expectedAmount}}
    </td>
    <td class="small-td">
      {{payment.paymentDate | date : 'yyy/MM/dd'}}
    </td>
    <td class="small-td">
      {{payment.amount}}
    </td>
    <td class="link small-td" (click)="generatePaymentFile(payment, $event)">
      Створити чек
    </td>
    <td class="link small-td" (click)="editFiles(payment, $event)">
      Чеки: {{payment.files ? payment.files.length : 0}}
    </td>
    <td class="controls-col" data-controls="true">
      <div class="remove-button" (click)="remove(payment.id)" data-controls="true"></div>
    </td>
  </tr>
  </tbody>
</table>
