<table>
  <thead>
  <tr class="material-table-paginator" #paginator>
    <th colspan="9">
      <div class="paginator-buttons">
        <span class="paginator-back" (click)="loadPaginated(-1, null)"></span>
        <span class="paginator-next" (click)="loadPaginated(1, null)"></span>
      </div>
      <mat-form-field>
        <mat-label></mat-label>
        <input
          type="number"
          [value]="pageIndex"
          matInput
          (blur)="loadPaginated(0, $event)"
        >
      </mat-form-field>
      of
      <span>{{countOfPages}}</span>
    </th>
    <th data-controls="true"></th>
  </tr>
  <tr #headerBlock>
    <td (click)="loadSorted('number',headerBlock,$event)" data-sort="">
      Number
    </td>
    <td (click)="loadSorted('date',headerBlock,$event)" data-sort="">
      Date
    </td>
    <td (click)="loadSorted('amount',headerBlock,$event)" data-sort="">
      Amount
    </td>
    <td>
      Ufile
    </td>
    <td class="controls-col">
      CONTROLS
    </td>
  </tr>
  <tr class="filter-row" #filterBlock>
    <td>
      <mat-form-field>
        <mat-label></mat-label>
        <input
          type="text"
          name="number"
          data-key="number"
          ngModel
          matInput
          (keyup)="loadFiltered(filterBlock)"
        >
      </mat-form-field>
    </td>
    <td>
      <mat-form-field>
        <mat-label></mat-label>
        <input
          type="text"
          name="date"
          data-key="date"
          ngModel
          matInput
          disabled
        >
      </mat-form-field>
    </td>
    <td>
      <mat-form-field>
        <mat-label></mat-label>
        <input
          type="number"
          name="amount"
          data-key="amount"
          ngModel
          matInput
          (keyup)="loadFiltered(filterBlock)"
        >
      </mat-form-field>
    </td>
    <td
      *ngIf="!(byCourseId >= 0)"
    >
      <mat-form-field>
        <mat-label></mat-label>
        <input
          type="text"
          name="file"
          data-key="file"
          ngModel
          matInput
          disabled
        >
      </mat-form-field>
    </td>
    <td class="controls-col"></td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let payment of payments" class="data-row">
    <td>
      {{payment.number}}
    </td>
    <td>
      {{payment.date | date : 'yyy/MM/dd'}}
    </td>
    <td>
      {{payment.amount}}
    </td>
    <td>
      {{payment.file}}
    </td>
    <td class="controls-col" data-controls="true">
      <div class="remove-button" (click)="remove(payment.id)" data-controls="true"></div>
    </td>
  </tr>
  </tbody>
</table>
