<div class="tile" *ngIf="eapplication">
  <div
    class="tile-header"
    [ngClass]="[
    (eapplication.wantTime || eapplication.source || eapplication.social)
    && !eapplication.wantPractice
    ? 'free-tile-header-bg'
    : 'paid-tile-header-bg']"
  >
    <i class="material-icons ok-button"  (click)="buildClient(eapplication)">
      done
    </i>
    <h3 (click)="buildClient(eapplication)">{{eapplication.name}} {{eapplication.surname}}</h3>
    <i class="material-icons delete-button" (click)="deleteEapp(eapplication)">
      clear
    </i>
  </div>
  <div class="tile-content">
    <div *ngIf="eapplication.email" class="tile-content-item">
      <p class="tile-content-item-header">Емейл:</p>
      <p>{{eapplication.email}}</p>
    </div>
    <div *ngIf="eapplication.phone" class="tile-content-item">
      <p class="tile-content-item-header">Телефон:</p>
      <p>{{eapplication.phone}}</p>
    </div>
    <div *ngIf="eapplication.age" class="tile-content-item">
      <p class="tile-content-item-header">Вік:</p>
      <p>{{eapplication.age}}</p>
    </div>
    <div *ngIf="eapplication.city" class="tile-content-item">
      <p class="tile-content-item-header">Місто:</p>
      <p>{{eapplication.city}}</p>
    </div>
    <div *ngIf="eapplication.course" class="tile-content-item">
      <p class="tile-content-item-header">Курс:</p>
      <p>{{eapplication.course}}</p>
    </div>
    <div *ngIf="eapplication.type" class="tile-content-item">
      <p class="tile-content-item-header">Тип:</p>
      <p>{{eapplication.type}}</p>
    </div>
    <div *ngIf="eapplication.wantTime" class="tile-content-item">
      <p class="tile-content-item-header">Очікуваний час:</p>
      <p>{{eapplication.wantTime}}</p>
    </div>
    <div class="tile-content-item">
      <p class="tile-content-item-header">З практикою:</p>
      <p *ngIf="!!eapplication.wantPractice">Так<i class="material-icons">
        mood
      </i></p>
      <p *ngIf="!eapplication.wantPractice">Ні<i class="material-icons">
        mood_bad
      </i></p>
    </div>
    <div *ngIf="eapplication.social" class="tile-content-item">
      <p class="tile-content-item-header">Соціалка:</p>
      <p>{{eapplication.social}}</p>
    </div>
    <div *ngIf="eapplication.source" class="tile-content-item">
      <p class="tile-content-item-header">Джерело:</p>
      <p>{{eapplication.source}}</p>
    </div>
    <div *ngIf="eapplication.comment" class="tile-content-item">
      <p class="tile-content-item-header">Коментар:</p>
      <p>{{eapplication.comment}}</p>
    </div>
    <div *ngIf="eapplication.date" class="tile-content-item">
      <p class="tile-content-item-header">Дата:</p>
      <p>{{ eapplication.date | date:'dd/MM/yy, hh:mm a' }}</p>
    </div>
    <div *ngIf="eapplication.active || !eapplication.active" class="tile-content-item" [ngClass]="{'firstShow' : eapplication.active, 'secondShowOrMore' : !eapplication.active}">
    </div>
  </div>
</div>
