.tile {
  background: white;
  width: 100%;
  padding: 0 0;
}

.tile-header {
  padding: 0 0;
  margin: 0 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.tile-header h3 {
  padding: 15px 0;
  margin: 0 0;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  width: 70%;
  cursor: pointer;
}

.tile-header i {
  width: 15%;
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.ok-button {
  color: white;
}

.delete-button {
  color: #b22424;
}

.free-tile-header-bg {
  background: #3f51b5;
}

.paid-tile-header-bg {
  background: #3fb54e;
}

.tile-content-item {
  padding: 5px 0;
  border-bottom: 1px solid #d5d5d5;
}

.tile-content-item > * {
  padding: 0 20px;
  margin: 5px;
}

.tile-content-item-header {
  font-size: 13px;
  font-weight: bold;
  color: #808080;
}
