<div class="main-wrapper">
  <div class="left-menu">
    <h3>UPDATE</h3>
    <form #form="ngForm" (ngSubmit)="updateCompetitorApplication()">
      <mat-form-field>
        <mat-label>Client</mat-label>
        <input
          type="text"
          name="clientId"
          [value]="competitorApplication.client?.name + ' ' + competitorApplication.client?.surname"
          matInput
          disabled
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Competitor</mat-label>
        <input
          type="text"
          name="cityId"
          [value]="competitorApplication?.competitor?.name"
          matInput
          disabled
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Course</mat-label>
        <input
          type="text"
          name="courseId"
          [value]="competitorApplication.course?.name"
          matInput
          disabled
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Date</mat-label>
        <input
          type="text"
          matInput
          [(ngModel)]="competitorApplication.date"
          name="date"
          [matDatepicker]="pickerStartDate"
          placeholder="Choose a date"
          readonly
          (click)="pickerStartDate.open()"
        >
        <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
        <mat-datepicker #pickerStartDate disabled="false"></mat-datepicker>
      </mat-form-field>
      <button mat-flat-button [disabled]="!form.valid">Update</button>
    </form>
  </div>
  <div class="applications-menu">
    <app-applications-table
      *ngIf="competitorApplication && competitorApplication.clientId"
      [byClientId]="competitorApplication.clientId"
    >
    </app-applications-table>
  </div>
</div>
